/* Write your code here. */
.navbar-container {
  background-color: #ffffff33;
  width: 100%;
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.img-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  padding-left: 10px;
  justify-content: flex-start;
}
.emoji-img {
  width: 40px;
  height: 24px;
  padding-right: 5px;
}
@media (min-width: 768px) {
  .emoji-img {
    width: 80px;
    height: 50px;
  }
}
.score-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.emoji-game {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
}
@media (min-width: 768px) {
  .emoji-game {
    font-size: 30px;
  }
}
